@media only screen and (max-width: 740px) {
    #wrapper {
        background: none;
    }

    body {
        width: 100%;
    }

    .col {
        float: none;
        width: 100%;
    }

     h1, h2, h3 {
        text-align: center;
    }
}

