html, button, input, select, textarea {
    color: #444;
}

html{
    font-size: 1em;
    line-height: 1.4;
    background-color: #ffffff;

}

#wrapper{
    max-width: 900px;
    min-width: 320px;
    margin: 0 auto;
}
header img {
    width: 20%;
    border: 1px solid #ccc ;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}
h1{
    font-family: 'Ubuntu Mono', monospace;
}

/* Réinitialisation des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  i{
    margin-right: 8px;
  }
  
  /* Style de base de la page */
  body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  /* Style du conteneur principal */
  #wrapper {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 70px;

  }
  
  /* Style de l'en-tête */
  header {
    text-align: center;
  }
  
  header h1 {
    font-size: 36px;
    color:  #007BFF;
    margin-bottom: 10px;
  }
  
  header h2 {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
  }
  
  
  /* Style des sections */
  section {
    margin: 20px 0;
  }
  
  /* Style des titres de section */
  section h3 {
    font-size: 24px;
    color: #007BFF;
    margin-bottom: 10px;
    position: relative;
  }
  
  section h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50px;
    height: 2px;
    background-color: #007BFF;
  }
  
  /* Style des articles */
  article {
    margin: 10px 0;
  }
  
  /* Style des liens */
  a {
    text-decoration: none;
    color: #007BFF;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Style de la liste de compétences */
  dl {
    margin: 10px 0;
  }
  
  dt {
    font-weight: bold;
  }
  
  dd {
    margin-left: 20px;
  }
  
  /* Style du pied de page */
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer ul li {
    display: inline;
    margin-right: 10px;
  }
  
  /* Styles pour les réseaux sociaux */
  footer a {
    color: #007BFF;
    font-size: 20px;
  }
  